<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Siderg</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/custom-styles.css">
    <link rel="stylesheet" href="css/font-awesome.css">

    <link rel="stylesheet" href="css/font-awesome-ie7.css">

    <script src="js/custom.js"></script>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
</head>

<body>
  <div class="menu">
    <div class="navbar">
      <a class="ativo" href="/"><img src="img/logo-nova.png" alt="logo do grupo de pesquisa Side" class="logo"></a>
      <div class="container-fluid logo-nav">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/membros">Membros</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/publicacao">Publicações</a></li>
            <li><a class="ativo" href="/patentes">Propriedade Intelectual</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="mini-menu">
      <a href="/"><img src="img/logo-nova.png" alt="logo do grupo de pesquisa Side" class="logo mini-logo"></a>
      <label>
        <select class="selectnav" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="/" selected="">Home</option>
          <option value="/membros">Membros</option>
          <option value="/projetos">Projetos</option>
          <option value="/publicacao">Publicações</option>
          <option selected="" value="/patentes">Propriedade Intelectual</option>
          <option value="/sobre">Sobre</option>
          <option value="contato">Contato</option>
        </select>
      </label>
    </div>
  </div>

    <div class="container">
        <div class="featured-block">
            <div class="row grupos">
                <div class="caption">
                    <div class="col-md-12">
                        <h1>Patentes</h1>
                    </div>
                    <div class="col-md-12">
                        <%if(loggedUser!= undefined){%>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Cadastrar Patente</button>
                            <%}%>
                    </div>
                    <div class="row">
                        <%for (var i = 0; i < patentes.length; i++){ %>
                            <div class="col-md-6">
                                <div class="block">
                                    <div class="thumbnail linhas-block">
                                        <div class="caption">
                                            <h2><%=patentes[i].titulo%></h2>
                                            <h3 class="membros-name">Instituição de Registro: <%=patentes[i].instituicaoRegistro%></h3>
                                            <h3 class="membros-name">Número de Registro: <%=patentes[i].numeroRegistro%></h3>
                                            <h3 class="membros-name">Data de Depósito: <%=moment(patentes[i].dataDeposito).format('DD/MM/YYYY')%></h3>
                                            <h3 class="membros-name">Data de Concessão: <%=moment(patentes[i].dataConcessao).format('DD/MM/YYYY')%></h3>
                                            <p class="membros-name">
                                                Membros:
                                                <%for (var j = 0; j < patentes[i].membros.length; j++){ %>
                                                    <%if(j < patentes[i].membros.length - 1){%>
                                                        <%=patentes[i].membros[j]%>,
                                                            <%}else{%>
                                                                <%=patentes[i].membros[j]%>.
                                                                    <%}%>
                                                                        <% } %>
                                            </p>
                                            <%if(loggedUser!= undefined){%>
                                                <a href="/patentes/delete/<%=patentes[i]._id%>" class="btn btn-primary">Deletar</a>
                                                <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="ruler"></div>
    </div>
    <div class="footer-wrapper">
        <div class="copy-rights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal form
================================================== -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Cadastrar patentes</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="patentes/new" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Titulo:</label>
                            <input type="text" class="form-control" id="recipient-name" name="titulo">
                            <label for="recipient-name" class="form-control-label">Data de Depósito:</label>
                            <input type="date" class="form-control" id="recipient-name" name="dataDeposito">
                            <label for="recipient-name" class="form-control-label">Data de Concessão:</label>
                            <input type="date" class="form-control" id="recipient-name" name="dataConcessao">
                            <label for="recipient-name" class="form-control-label">Instituição de Regitro:</label>
                            <input type="text" class="form-control" id="recipient-name" name="instituicaoRegistro">
                            <label for="recipient-name" class="form-control-label">Número de Registro:</label>
                            <input type="text" class="form-control" id="recipient-name" name="numeroRegistro">
                            <label for="recipient-name" class="form-control-label">Autores</label>
                            <%for(var i = 0; i < membros.length; i++) { %>
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" name="membros" value="<%=membros[i].nome%>" />
                                        <%= membros[i].nome%>
                                    </label>
                                </div>
                                <%}%>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <%if(loggedUser!= undefined){%>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                            <%}%>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>
